.css-zm2494:hover {
  border-color: #bfd732 !important;
}
.css-zm2494:focus-visible {
  border-color: #bfd732 !important;
  box-shadow: 0 0 0 1px #bfd732 !important;
}

.css-1roe7ds:hover {
  border-color: #bfd732 !important;
}
.css-1roe7ds:focus-visible {
  border-color: #bfd732 !important;
  box-shadow: 0 0 0 1px #bfd732 !important;
}
.css-1ohbhgu:hover {
  border-color: #bfd732 !important;
}
.css-1ohbhgu:focus-visible {
  border-color: #bfd732 !important;
  box-shadow: 0 0 0 1px #bfd732 !important;
}
.css-k1vqkx:hover {
  border-color: #bfd732 !important;
}
.css-k1vqkx:focus-visible {
  border-color: #bfd732 !important;
  box-shadow: 0 0 0 1px #bfd732 !important;
}
